<ion-view view-title="Map">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background-image: url('img/profile-bg.jpg');">
        <div style="padding:10px; height: 100%; ">
        <div class="responsive-map" style="width:100%;  height: 100%; padding:5px; background: white;">           
            <div>
                {{article}}
            </div>
        </div>
        </div>
        <div class=" footer tabs tabs-dark tabs-icon-top" style="position: fixed; bottom:0px;">            
        </div>
    </ion-content>
</ion-view>

